# Ignore tudo por padrão
*

# Não ignore o diretório do backend do WhatsApp e seu conteúdo
!whatsapp-backend/

# Mas ignore os arquivos de node_modules e de sessão dentro dele
whatsapp-backend/node_modules
whatsapp-backend/.wwebjs_auth
