rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /users/{userId}/patients/{patientId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/patients/{patientId}/appointments/{appointmentId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/messageTemplates/{messageTemplateId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/scheduledMessages/{scheduledMessageId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/workflows/{workflowId} {
      allow read, write: if isOwner(userId);
    }
  }
}